/* image */
.project-preview {
  margin-bottom: -12px;
  z-index: 1;
  position: relative;
  height: 10rem;
  max-width: 100%;
  border-radius: 12px;
  transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 10px 40px rgba(255, 255, 255, 0.1);
  object-fit: cover;
}

.project-preview:hover {
  transform: scale(1.02);
  filter: brightness(1.15);
  box-shadow: 0 20px 60px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* text content */
.project-card {
  margin-top: 1rem;
  --Paper-shadow: none !important;
  --Paper-overlay: none !important;
  max-width: 380px;
}

/* swiper */
.swiper {
  margin-inline: 2rem;
  padding: 0 20px;
}

.swiper-wrapper {
  padding-bottom: 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #d81b60;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
}

.swiper-pagination-bullet-active {
  background: #d81b60;
}
