* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontMPlus2;
  font-weight: 300;
  transition: background-color 0.3s ease, color 0.3s ease;
  &::selection {
    background-color: $lightPink;
    color: $darkBlue;
  }
  body {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    li {
      list-style-type: none;
    }
    h1 {
      background: $gradientText;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 67px;
    }
    h2 {
      font-size: 50px;
    }
    h3 {
      background: $gradientText;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 23px;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $lightPink;
      }
    }
  }
}
