@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap");

$fontMPlus2: "M PLUS 2", sans-serif;
$darkBlue: #00171f;
$light: #ffe0ec;
$lightPink: rgba(216, 27, 96, 0.5);
$darkPink: #d81b60;
$gradientText: linear-gradient(
  0deg,
  rgba(216, 27, 96, 1) 20%,
  rgba(44, 127, 141, 1) 70%
);
