@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap");

$fontMPlus2: "M PLUS 2", sans-serif;
$darkPink: #ad2b9b;
$lightPink: #d427a6;
$gradientText: linear-gradient(
  0deg,
  rgba(212, 39, 166, 1) 0%,
  rgba(44, 127, 141, 1) 70%
);
$shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
