/* navbar */
.navbar {
  --Paper-shadow: none !important;
  --Paper-overlay: none !important;
  position: fixed;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 100%;
  z-index: 1000;
}

/* mobile menu */
.mobile-menu {
  --Paper-shadow: none !important;
  --Paper-overlay: none !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 50%;
  padding-top: 1rem;
  text-align: center;
}

.mobile-logo {
  width: 50%;
}

.mobile-menu-list {
  text-align: center !important;
  text-transform: uppercase;
}

/* mobile menu icon */
.mobile-menu-icon {
  color: #d81b60;
}

/* desktop menu */
.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

/* links */
.navbar-links {
  align-items: center;
  gap: 16px;
}

.navbar-links a,
.mobile-menu-list a {
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
}

.active {
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: #fff;
  color: #d81b60;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 999px) {
  .mobile-menu {
    width: 75%;
  }
}
