.contact-form {
  max-width: 50%;
  margin-inline: auto;
}

.contact-textfield {
  background-color: white;
  border-radius: 15px;
}

.contact-textfield input::placeholder,
.contact-textfield textarea::placeholder {
  background: linear-gradient(
    0deg,
    rgba(216, 27, 96, 1) 20%,
    rgba(44, 127, 141, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
